<div class="container">
        <div class="jumbotron">
            <h1>Chatham Apprentice Program Applicants</h1>
            <p>Hello CAP Staff - Here are all of your CAP Applicants</p>
            
        </div>

        {{#each applicants}}
        <P>{{this.id}}</P>
        {{/each}}
</div>