.heading{
    font-family: 'Cabin', sans-serif;
    font-size:4em;
    font-weight:400;
}

.body-text{
    font-family: 'Inconsolata', monospace;
}

/* .graphSection{
    border: 2px solid rgb(156, 154, 154);
} */